
/* DROP DOWN MENU STYLE */

<style>
    .font {
        font-family: Arial;
		font-size:16px;
        background-color: #0f730b;
    }

    .dropbtn {
        font-family: Arial;
        background-color: #0f730b;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;

    }

    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #179e11;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        background-color: #0f730b;
        font-family: Arial;
        display: none;
        position: absolute;

        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        font-family: Arial;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #179e11;
    }

    .show {
        display: block;
    }

	
    body, html {
        height: 100%;
        margin: 0;

    }
	
	
	/* BACKGROUND IMAGE */

    .bgimg {
        background-image: url(https://thepawprintdaa.files.wordpress.com/2016/12/winter-wonderland.jpg);
        height: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
        color: Black;
     
        font-family: "Courier New", Courier, monospace;
        font-size: 25px;
    }

    .topleft {
        position: absolute;
        top: 0;
        left: 55px;
    }


    .middle {
	   text-shadow: 4px 4px 5px #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    hr {
        margin: auto;
        width: 40%;
    }
	
	/* COOL BUTTON ANIMATION */
	
	   .container1 {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 70%;
        left: 48%;

    }

    /*setting the colour and size of the menu bars and also the time of the animation */

    .bar1, .bar2, .bar3, .bar4 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 2.0s;
    }

    .bar2 {
        background-color: grey;
    }

    .bar3 {
        background-color: darkgrey;
    }

    .bar4 {
        background-color: lightgrey;
    }

    /*the angle of animation of lines for two of the bars.
    setting one bar to go invisable */

    .change .bar1 {
        -webkit-transform: rotate(360deg) translate(9px, 7px);
        transform: rotate(360deg) translate(9px, 7px);
        transition: 2.5s;
        background-color: black;
    }

    .change .bar2 {
        -webkit-transform: rotate(360deg) translate(9px, 7px);
        transform: rotate(360deg) translate(9px, 7px);

        transition: 2.2s;
    }

    .change .bar3 {
        -webkit-transform: rotate(360deg) translate(9px, 7px);
        transform: rotate(360deg) translate(9px, 7px);
        transition: 1.9s;

    }

    .change .bar4 {
        -webkit-transform: rotate(360deg) translate(9px, 7px);
        transform: rotate(360deg) translate(9px, 7px);
        transition: 1.2s
        background-color: lightgrey;
    }
</style>