
/* BACKGROUND IMAGE */
body, html {
    height:100%;
    margin: 0;
}

body {
    background-color: black;
}

.bg {
    /* The image used */
    background-image: url("https://villagehotelfcblog.files.wordpress.com/2016/09/img_1202.jpg");
    /* Full height */
    height: 55%;
    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size:90%;
}

/* Drop down menu styling */

   .font {
        font-family: Arial;
		font-size:16px;
        background-color: #0f730b;
    }

    .dropbtn {
        font-family: Arial;
        background-color: #0f730b;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;

    }

    .dropbtn:hover,
    .dropbtn:focus {
        background-color: #179e11;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        background-color: #0f730b;
        font-family: Arial;
        display: none;
        position: absolute;

        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        font-family: Arial;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown a:hover {
        background-color: #179e11;
    }

    .show {
        display: block;
    }

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  position:absolute;
  top:66%;
  float:left;
}

#customers td, #customers th {
  border: 2px solid #d9d9d9;
  padding: 6px;
}

#customers tr:nth-child(even){background-color:  #acacac;}
#customers tr:nth-child(odd){background-color: rgb(209, 206, 206);}
#customers tr:hover {background-color: #ddd;}


#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0f730b;
  color: white;
}

.input{
	
position:absolute;
width:25%;
height:relative;
left:65%;
top:66%;
color:white;
 border: 2px ridge White;
}

.container{
background-color:black;
}